* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;
  font-weight: 700;
}

body {
  padding: 5%;
  background: linear-gradient(135deg, rgba(73, 255, 225, 1) 0%, rgba(0, 26, 255, 1) 100%);
  height: 100%;
}

.heading {
  font-size: 40px;
  color: rgba(0, 71, 77, 0.315);
  margin-bottom: 24px;
}

.container {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 3.8% 10%;
}

.recent-header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

h2 {
  font-size: 24px;
  color: #fff;
}

.refresh {
  height: 35px;
  width: 70px;
  padding: 10px 10px;
  color: #fff;
  background-color: rgba(255, 255, 255, 10%);
  border: 1px #fff solid;
  margin: 10px 10px;
}

.refresh:hover {
  background-color: rgba(255, 255, 255, 20%);
  width: 80px;
  height: 40px;
}

.refresh:focus {
  background-color: rgba(255, 0, 55, 10%);
}

.API {
  padding: 10px 10px;
  border: 1px solid rgb(255, 255, 255);
  color: #fff;
  width: 83%;
  height: auto;
  margin: 25px 24px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}

input {
  margin: 5px 10px;
  height: 35px;
  padding: 5px 15px;
  background-color: rgba(255, 255, 255, 8%);
  border: 1px solid #fff;
  color: #fff;
  outline: none;
}

input:focus:hover {
  outline: none;
}

::placeholder {
  color: rgba(255, 255, 255, 50%);
}

@media (max-width: 706px) {
  body {
    padding: 27.5% 10%;
  }

  .container {
    display: flex;
    flex-direction: column;
    padding: 3.8% 10%;
  }
}
